<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="in.sp.beans.Address" id="AddObj">
    
    <constructor-arg value="Malegaon"/>
    <constructor-arg value="45445"/>
    <constructor-arg value="784"/>
   
    
    </bean>
    
     <bean class="in.sp.beans.Student" id="stdObj">
      <constructor-arg value="Kamlesh"/>
    <constructor-arg value="45"/>
    <constructor-arg ref="AddObj"/>
    
    
    </bean>
    
    

</beans>